$def with(datos)

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Productos</h1><br>

    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Clase</th>
            <th scope="col">Precio</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Actualizar</th>

          </tr>
        </thead>

        <tbody>
            $for row in datos:
            <tr>
                <td>$row.nombre</td>
                <td>$row.marca</td>
                <td>$row.clase</td>
                <td>$row.precio</td>
                <td><a href="/delete/$row.nombre">Delete</a></td>
                <td><a href="/update/$row.nombre">Update</a></td>
            </tr>
        </tbody>
      </table>
      <br>
      <a href="/insert"><center><button type="button" class="btn btn-primary btn-lg">Insertar Producto</button></center></a>
    </div>
  </div>