<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Insertar Productos</h1>
        <form method="POST">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre producto">
            <br>
            <label for="marca">Marca</label>
            <input type="text" id="marca" name="marca" placeholder="marca">
            <br>
            <label for="clase">Clase</label>
            <input type="text" id="clase" name="clase" placeholder="Clase">
            <br>
            <label for="precio">Precio</label>
            <input type="text" id="precio" name="precio" placeholder="precio">
            <br>
            <button type="submit" class="btn btn-primary">Insertar</button>
        </form>
    </div>
</div>