$def with(datos)

<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Clientes</h1><br>

    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Tipo Cliente</th>
            <th scope="col">Calle No.</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
            </tr>
        </thead>

        <tbody>
            $for row in datos:
            <tr>
                <td>$row.nombre</td>
                <td>$row.ape_pat</td>
                <td>$row.ape_mat</td>
                <td>$row.colonia</td>
                <td><a href="/deleteclientes/$row.nombre">Delete</a></td>
                <td><a href="/updateclientes/$row.nombre">Update</a></td>
            </tr>
        </tbody>
        </table>
        <br>
        <a href="/insertclientes"><center><button type="button" class="btn btn-primary btn-lg">Insertar Cliente</button></center></a>
    </div>
    </div>