<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Insertar clientes</h1>
        <form method="POST">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                <br>
                <label for="ape_pat">Apellido Paterno</label>
                <input type="text" id="ape_pat" name="ape_pat" placeholder="Apellido Paterno">
                <br>
                <label for="ape_mat">Apellido Materno</label>
                <input type="text" id="ape_mat" name="ape_mat" placeholder="Apellido Materno">
                <br>
                <label for="colonia">Colonia</label>
                <input type="text" id="colonia" name="colonia" placeholder="Colonia">
                <br>

                <center><button type="submit" class="btn btn-primary btn-lg">Insertar</button></center>
        </form>
    </div>
</div>